.manual_overlay{
	overflow:hidden;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000000;
	width:100%;
	height:100%;
}
.boxtext{
	position:absolute;
	color:white;
	/*min-width:200px;*/
	border:solid 1px #863E3E;
	background-color:rgba(255,0,0,0.3);
	line-height: normal;
}
.boxtext .inner{
	padding:10px;
}
.boxtext_left{
	border-right:3px solid red !important;
}
.boxtext_right{
	border-left:3px solid red !important;
}
.boxtext_bottom{
	border-top:3px solid red !important;
}
.boxtext_top{
	border-bottom:3px solid red !important;
}
.text{
	position:absolute;
	color:white;
}
.boxtext .arrow{
	display:none;
	position:absolute;
}
.boxtext .arrow-small-up,
.boxtext .arrow-up,
.boxtext .arrow-small-down,
.boxtext .arrow-down,
.boxtext .arrow-small-right,
.boxtext .arrow-right,
.boxtext .arrow-small-left,
.boxtext .arrow-left{
	display:block !important;
}
.boxtext .arrow-small-up{
	background-image: url(../../images/arrow-up.png);
	width: 100%;
	height: 30px;
	background-position: 50% -5px;
	background-repeat: no-repeat;
	top:-24px;
}
.boxtext .arrow-small-down{
	background-image: url(../../images/arrow-down.png);
	width: 100%;
	height: 30px;
	background-position: 50% -5px;
	background-repeat: no-repeat;
}
.boxtext .arrow-small-right{
	background-image: url(../../images/arrow-right.png);
	width: 30px;
	height: 100%;
	background-position: -7px 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 100%;
}
.boxtext .arrow-small-left{
	background-image: url(../../images/arrow-left.png);
	width: 30px;
	height: 100%;
	background-position: -3px 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: -24px; 
}
.boxtext .arrow-up {
	background-image: url(../../images/arrow-up.png);
	width: 100%;
	height: 30px;
	background-position: 50% -5px;
	background-repeat: no-repeat;
	top:-24px;
}

.boxtext .arrow-down {
	background-image: url(../../images/arrow-down.png);
	width: 100%;
	height: 30px;
	background-position: 50% -5px;
	background-repeat: no-repeat;
}

.boxtext .arrow-right {
	background-image: url(../../images/arrow-right.png);
	width: 30px;
	height: 100%;
	background-position: -7px 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 100%;
}

.boxtext .arrow-left {
	background-image: url(../../images/arrow-left.png);
	width: 30px;
	height: 100%;
	background-position: -3px 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: -24px; 
}
.manual_exit{
	border: 5px solid #FFFFFF;
    border-radius: 100px;
    color: #FFFFFF;
    display: table-cell;
    font-size: 24px;
    font-weight: bolder;
    height: 43px;
    line-height: 32px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 43px;
}

.manual_exit:hover{
	color:red;
	border:solid 6px red;
	cursor:pointer;
}
.manual_overlay a{
	color:white;
}
.region{
	background-color:rgba(255,255,255,0.3);
	border:solid 2px white;
	position:absolute;
	cursor:pointer
}
.region:hover{
	background-color:rgba(255,255,255,0.5);
}
.navStep{
	padding-top:10px;
}
.navStep a{
	padding-right:5px;
}
.wait{
	color:white;
	font-size: 16px;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
.middle{
	line-height: 50em;
}
.top{
	line-height: 2em;
}
.bottom{
	line-height: 100em;
}
